<div *ngIf="post$ |async as post; else loading">
    <div class="post">
        <div class="header">
            <h1> {{post.title}} </h1>

            <button routerLink="/" class="btn btn-link">На главную</button>
        </div>

        <div class="info">
            <strong> {{post.author}} </strong>
            <small> {{post.date | date:'medium':undefined:'ru'}} </small>
        </div>

        <div>
           <angular-editor  [(ngModel)]="post.text" [config]="editorConfig"></angular-editor>
        </div>
    </div>
</div>

<ng-template #loading>
    <p class="text-center">Загружаю...</p>
</ng-template>
